MMC:CFG_1.0:6:0::
#
MMC_REAL_ROUTINE:

      -name "ScmCallRoutine" -hidden 

      -name "CalPendelum" -hidden 

      -name "CalPendelumProc" -hidden 

      -name "PendelumProc" -hidden 

      -name "CW_Options" -hidden 

      -name "CW_ReadLevel" -hidden 

      -name "AutoFineCalib" -hidden 

      -name "CW_Refcalib" -hidden 

      -name "ReadBarcode" -hidden 

      -name "AxisCalibration" -hidden 

      -name "AxisProc" -hidden 
#
MMC_REAL_PARAM_SEQ_METHOD:

      -name "method"
#
MMC_PALETTE_HEAD:

      -name "M.C 1" -type "MMC_MC1"

      -name "M.C 2" -type "MMC_MC2"

      -name "M.C 3" -type "MMC_MC3"

      -name "SpotWeld" -type "MMC_SPOTWELD"
#
MMC_SERV_ROUT_STRUCT:

      -name "ScmCallRoutine"

      -name "CalPendelum"

      -name "AxisCalibration"

      -name "ManualSpot"

      -name "ManualCalib"

      -name "ManualSetForce"

      -name "ManualGunControl"

      -name "ManualForceCalib"

      -name "ManualServiceCalib"

      -name "ManualGunSearch"

      -name "ManualCheckMeasPos"
#
IO_MOST_COMMON:

      -signal_name "di_Antic1_R2" -signal_type "DI"

      -signal_name "di_Antic1_R3" -signal_type "DI"

      -signal_name "di_Antic2_R2" -signal_type "DI"

      -signal_name "di_Antic2_R3" -signal_type "DI"

      -signal_name "di_Antic3_R2" -signal_type "DI"

      -signal_name "di_Antic3_R3" -signal_type "DI"

      -signal_name "di_flow1_ok" -signal_type "DI"

      -signal_name "di_flow2_ok" -signal_type "DI"

      -signal_name "di_soldadura_SI" -signal_type "DI"

      -signal_name "di_Stop" -signal_type "DI"
#
IOVIEW_BLOCK:

      -name "IOViewBlockIfMotorsOff"
#
WARN_AT_START:

      -name "WarningAtStart" -cursor_pp_diff_warning 0\
      -show_pp_to_cursor_button 0
#
AUTO_SWITCH_OF_JOG_UNIT:

      -name "AutoSwitchOfJogUnit"
#
BACKUP_DEFAULT:

     
      -name "Backup"
#
MMC_MOTION = MMC_PALETTE:

      -name "SpotL" -only_mec_task 

      -name "SpotJ" -only_mec_task 

      -name "CalibL" -only_mec_task 

      -name "CalibJ" -only_mec_task 

      -name "Calibrate"

      -name "SetForce"

      -name "IndGunMove"

      -name "IndGunMoveReset"

      -name "MeasureWearL" -only_mec_task 

      -name "ReCalcTCP"
#
MMC_MOTSETADV = MMC_PALETTE:

      -name "STClose"

      -name "STOpen"

      -name "STCalib"

      -name "STIndGun"

      -name "STIndGunReset"

      -name "STIsCalib"

      -name "STIsClosed"

      -name "STIsOpen"

      -name "STIsIndGun"

      -name "STCalcForce"

      -name "STCalcTorque"
#
MMC_MC1 = MMC_PALETTE:

      -name "MoveJ" -only_mec_task 

      -name "MoveL" -only_mec_task 

      -name "MoveC" -only_mec_task 

      -name "ProcCall"

      -name "Set"

      -name "Reset"

      -name "WaitTime"

      -name "WaitDI"

      -name "IF"

      -name "Compact IF"

      -name ":="

      -name "Incr"

      -name "Add"

      -name "Decr"
#
MMC_MC2 = MMC_PALETTE:

      -name "MoveJ" -only_mec_task 

      -name "MoveL" -only_mec_task 

      -name "MoveC" -only_mec_task 

      -name "ProcCall"

      -name "Set"

      -name "Reset"

      -name "WaitTime"

      -name "WaitDI"

      -name "IF"

      -name "Compact IF"

      -name ":="

      -name "Incr"

      -name "Add"

      -name "Decr"
#
MMC_MC3 = MMC_PALETTE:

      -name "MoveJ" -only_mec_task 

      -name "MoveL" -only_mec_task 

      -name "MoveC" -only_mec_task 

      -name "ProcCall"

      -name "Set"

      -name "Reset"

      -name "WaitTime"

      -name "WaitDI"

      -name "IF"

      -name "Compact IF"

      -name ":="

      -name "Incr"

      -name "Add"

      -name "Decr"
#
MMC_SPOTWELD = MMC_PALETTE:

      -name "SpotL" -only_mec_task 

      -name "SpotJ" -only_mec_task 

      -name "CalibL" -only_mec_task 

      -name "CalibJ" -only_mec_task 

      -name "Calibrate"

      -name "SetForce"

      -name "IndGunMove"

      -name "IndGunMoveReset"

      -name "MeasureWearL" -only_mec_task 

      -name "ReCalcTCP"

      -name "MoveL" -only_mec_task 

      -name "MoveJ" -only_mec_task 
